<h2>Log In</h2>

<!-- Or This -->

<h3><a href="/"> If you are not the Admin, click here to return to the site. </a></h3>

<div class='container'>
  <form action='/admin/sessions' method='post' name='login_form'>
  <input type='text' placeholder='Email Address' name='email'>
  <input type='password' placeholder='Password' name='password'>
  <input type='submit'>
</form>