<h2>Log In</h2>

<!-- Or This -->

<h3><a href="/"> If you are not the Admin, click here to return to the site. </a></h3>

<% if @errors %>
  <%= @errors %>
<% end %>

<div class='container'>
  <form action='/admin/sessions' method='post' name='login_form'>
  <label for="email"> Email: </label>
  <input type='text' id="email" name='email'>
  <label for="password"> Password: </label>
  <input type='password' id="password" name='password'>
  <input type='submit' value="Log In">
</form>