<li> ADMIN OPTIONS </li>
<!-- <li><a href="/admin/blog/new"> New Post </a></li> -->
<li>
  <form action='/admin/sessions' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Log Out'>
  </form>
</li>