<li> ADMIN OPTIONS </li>
<!-- <li><a href="/admin/blog/new"> New Post </a></li> -->
<li><a href="/admin/blogs/new"> New Article </a></li>
<li><a href="/admin/site/edit"> Site Settings </a></li>
<li><a href="/admin/account/edit"> Account Settings </a></li>
<li>
  <form action='/admin/sessions' method='POST'>
    <input type='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Log Out'>
  </form>
</li>